<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="stackedCards.css"/>
	<script src="stackedCards.js">
  </script>

  </head>

  <body>
    <h1>hi</h1>
    <a href="{% url 'bibles:verse' %}">랜덤뽑기</a>

    <div class="mycards">
      <ul>
        <img src="">your content</img>
        <li>your content</li>
        <li>your content</li>
        <li>your content</li>
        <li>your content</li>
      </ul>
    </div>



  </body>
<script>
var stackedCard = new stackedCards({
	 	selector: '.stacked-cards',
	 	layout: "fanOut",
	 	transformOrigin: "bottom",
	});

	stackedCard.init();
</script>
</html>
